<h1>welcome manager</h1>
<p>Please see if anything is running empty :(</p>
<%= link_to "update", managerupdate_path, class: "btn btn-lg btn-primary" %>
<%= link_to "view", managerview_path, class: "btn btn-lg btn-primary" %>
<%= link_to "home", managerhome_path, class: "btn btn-lg btn-primary" %>
<%= link_to "go to restaurant home", restauranthome_path, class: "btn btn-lg btn-primary" %>
