<nav class="navbar navbar-default">
    <div class="container-fluid">
        <%= link_to "Home", chefhome_path, class: "navbar-brand" %>
        <%= link_to "Prepare Food", chefprepare_path, class: "navbar-brand" %>
        <%= link_to "View Catalog", chefview_path, class: "navbar-brand" %>
        <%= link_to "Go to Restaurant Home", restauranthome_path, class: "navbar-brand" %>
  </div>
  </nav>
  
   <div  class="col-sm-4">
    <a class="lead"> A recipe has no soul. You, as a chef must bring the soul to the recipe!!</a>
    </div>
    <div  class="col-sm-8">
      <img src="http://www.allianceabroad.com/wp-content/uploads/Food-safety-hygiene-training1.jpg" class="img-fluid" alt="Responsive image" width="800" height="600">
    </div>