<div class="center jumbotron">
<h1>welcome chef !!</h1>
<p> lets start cooking</p>
<%= link_to "home", chefhome_path, class: "btn btn-lg btn-primary" %>
<%= link_to "prepare food", chefprepare_path, class: "btn btn-lg btn-primary" %>
<%= link_to "view catalog", chefview_path, class: "btn btn-lg btn-primary" %>
<%= link_to "go to restaurant home", restauranthome_path, class: "btn btn-lg btn-primary" %>
</div>
