<div class="center jumbotron">
<h1>Food zone</h1>
<p>Lets prepare food</p>
<%= link_to "home", chefhome_path, class: "btn btn-lg btn-primary" %>
<%= link_to "edit", chefedit_path, class: "btn btn-lg btn-primary" %>
<%= link_to "add", chefadd_path, class: "btn btn-lg btn-primary" %>
</div>
