<div class="jumbotron">
<h1>welcome manager</h1>
<p>Please see if anything is running empty :(</p>
<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "view inventory", inventoryindex_path, class: "btn btn-lg btn-primary" %></li>
<li><%= link_to "home", inventoryhome_path, class: "btn btn-lg btn-primary" %></li>

<li><%= link_to "go to restaurant home", inventoryhome_path, class: "btn btn-lg btn-primary" %></li>
          </ul>
          </div>
        </nav>
</div>