<nav class="navbar navbar-default">
    <div class="container-fluid">
        <%= link_to "Home", inventoryhome_path, class: "navbar-brand" %>
        <%= link_to "Manage Inventory", inventoryindex_path, class: "navbar-brand" %>
        <%= link_to "Go to Restaurant Home", restauranthome_path, class: "navbar-brand" %>
  </div>
  </nav>
  
   <div  class="col-sm-4">
    <a class="lead"> </a>
    </div>
    <div  class="col-sm-8">
      <img src="http://hotelrestaurantrecruiter.com/wp-content/uploads/2013/01/RestaurantManager7.jpg" class="img-fluid" alt="Responsive image" width="850" height="600">
    </div>

