$bgDefault      : #0080FF;
$bgHighlight    : #B9BEBE;
$colDefault     : #FFFFFF;
$colDeflt   : #FFFFFF;
$colHighlight   : #ffbbbc;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    }}
  .table-striped{
    background-color:$bgDefault;
   
  }  
    