<div class="center jumbotron">
<h1>Welcome Customer</h1>
<%= link_to "home", customerhome_path, class: "btn btn-lg btn-primary" %>
<%= link_to "orders", customerorder_path, class: "btn btn-lg btn-primary" %>
<%= link_to "view", customerview_path, class: "btn btn-lg btn-primary" %>
<%= link_to "go to restaurant home", restauranthome_path, class: "btn btn-lg btn-primary" %>
<p>Menu</p>





</div>

